.navbar {
	-webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Dropdown navbar*/
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.bgimg3 {
    background-image: url("../assets/tombrown1.jpg");
    min-height: 245px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	opacity: 0.65;
}

.title {
	font-family: "Old Standard TT";
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #FFF;
    z-index: 10;
    font-size: 77px
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;
	        animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
	padding: 50px;
   	display: none;
}

#flip {
    cursor: pointer;
}

.bg-pan-left {
	-webkit-animation: bg-pan-left 8s both;
	        animation: bg-pan-left 8s both;
}

.kenburns-bottom {
	-webkit-animation: kenburns-bottom 8s ease-out both;
	        animation: kenburns-bottom 8s ease-out both;
}

.bg-pan-top {
	-webkit-animation: bg-pan-top 4s both;
	        animation: bg-pan-top 4s both;
}